USE [master]
GO

CREATE DATABASE [Gringotts]
GO

USE [Gringotts]
GO

CREATE TABLE [WizzardDeposits](
	[Id] INT PRIMARY KEY,
	[FirstName] VARCHAR(50),
	[LastName] VARCHAR(60),
	[Notes] TEXT,
	[Age] INT,
	[MagicWandCreator] VARCHAR(100),
	[MagicWandSize] SMALLINT,
	[DepositGroup] VARCHAR(20),
	[DepositStartDate] DATE,
	[DepositAmount] DECIMAL(8,2),
	[DepositInterest] DECIMAL(5,2),
	[DepositCharge] DECIMAL (8,2),
	[DepositExpirationDate] DATE,
	[IsDepositExpired] BIT
)

INSERT [dbo].[WizzardDeposits] ([Id], [FirstName], [LastName], [Notes], [Age], [MagicWandCreator], [MagicWandSize], [DepositGroup], [DepositStartDate], [DepositAmount], [DepositInterest], [DepositCharge], [DepositExpirationDate], [IsDepositExpired]) VALUES (1, 'Hannah', 'Abbott', 'Hufflepuff student in Harry''s year and member of Dumbledore''s Army.', 71, 'Antioch Peverell', 19, 'Troll Chest', CAST('1990-09-27' AS Date), CAST(47443.03 AS Decimal(8, 2)), CAST(29.28 AS Decimal(5, 2)), CAST(73.00 AS Decimal(8, 2)), CAST('1991-04-08' AS Date), 0)
GO
INSERT [dbo].[WizzardDeposits] ([Id], [FirstName], [LastName], [Notes], [Age], [MagicWandCreator], [MagicWandSize], [DepositGroup], [DepositStartDate], [DepositAmount], [DepositInterest], [DepositCharge], [DepositExpirationDate], [IsDepositExpired]) VALUES (2, 'Bathsheda', 'Babbling', 'Ancient Runes teacher at Hogwarts', 63, 'Ollivander family', 20, 'Human Pride', CAST('1986-03-27' AS Date), CAST(46597.40 AS Decimal(8, 2)), CAST(26.64 AS Decimal(5, 2)), CAST(64.00 AS Decimal(8, 2)), CAST('1986-05-16' AS Date), 1)
GO

Select top(1) MagicWandSize From WizzardDeposits 
Order by MagicWandSize DESC

Select TOP(2) DepositGroup, AVG(MagicWandSize) AS [AverageWandSize] From WizzardDeposits
 GROUP BY DepositGroup
ORDER BY AverageWandSize 

Select*From WizzardDeposits

Select DepositGroup,Sum(DepositAmount) AS [TotalSum] From WizzardDeposits
 Where MagicWandCreator='Ollivander family'
  Group By DepositGroup Having Sum(DepositAmount)<=150000
  Order By TotalSum DESC

  Select DepositGroup,MagicWandCreator,Min(DepositCharge) AS [MinDepoistCharge] From WizzardDeposits
  GROUP BY DepositGroup,MagicWandCreator
  Order By MagicWandCreator,DepositGroup

  Select 
  Case 
     WHEN Age BETWEEN 0 AND 10 THEN '[0-10]'
	 WHEN Age BETWEEN 11 AND 20 THEN '[11-20]'
	 WHEN Age BETWEEN 21 AND 30 THEN '[21-30]'
	 WHEN Age BETWEEN 31 AND 40 THEN '[31-40]'
	 WHEN Age BETWEEN 41 AND 50 THEN '[41-50]'
	 WHEN Age BETWEEN 51 AND 60 THEN '[51-60]'
	 ELSE '[61+]'
	 END AS AgeGroup,
	 Count(*) AS [Count]
   From WizzardDeposits
   GROUP BY 
   (CASE 
     WHEN Age BETWEEN 0 AND 10 THEN '[0-10]'
	 WHEN Age BETWEEN 11 AND 20 THEN '[11-20]'
	 WHEN Age BETWEEN 21 AND 30 THEN '[21-30]'
	 WHEN Age BETWEEN 31 AND 40 THEN '[31-40]'
	 WHEN Age BETWEEN 41 AND 50 THEN '[41-50]'
	 WHEN Age BETWEEN 51 AND 60 THEN '[51-60]'
	 ELSE '[61+]'
	 END )

	 Select Substring(FirstName,1,1) AS [FirstLetter] From WizzardDeposits Where DepositGroup='Troll Chest' 
	Group by  Substring(FirstName,1,1)
   Order by Substring(FirstName,1,1)


   Select DepositGroup,IsDepositExpired,AVG(DepositInterest) AS [AverageInterest] From WizzardDeposits Where DepositStartDate > '01/01/1985'
   Group by DepositGroup,IsDepositExpired
   Order By DepositGroup DESC,IsDepositExpired ASC

   Select FirstName  From WizzardDeposits
   GROUP By FirstName
    